<div class="container">
  <div class="center hero-unit">
    <form class="form-signin">
      <h2 class="form-signin-heading">Please fill in this form</h2>
      <input type="text" class="form-control" placeholder="Email address" >
  		<br>
      <input type="password" class="form-control" placeholder="Password">
      <br>
        <button class="btn btn-lg btn-primary" type="submit">Create Account</button>
        <a href="home"><button class="btn btn-lg btn-primary">Cancel</button></a>    
    </form>
  </div>
</div>