<% provide(:title, 'Wizard') %>

<div class="container">
  <div class="center hero-unit">
    <h3>Create a new challenge</h3>
        <div class="container">
          <div class="control-group">
            <label for="challenge_title", class="control-label">
              Challenge Title: 
            </label>
            <div class="controls">
              <input name="challenge_title" type="text" value="" id="challenge_title">
            </div>
          </div>
        </div>
        
        <div class="container">
          <input name="start_date" type="text" class='datepicker' id="start_date" placeholder="Start date">
          <script type="text/javascript">
            $(function() { $(".datepicker").datepicker(); });
          </script>
        </div>

        <div class="container">
          <input name="end_date" type="text" class='datepicker' id="end_date" placeholder="End date">
          <script type="text/javascript">
            $(function() { $(".datepicker").datepicker(); });
          </script>
        </div>
  </div>
</div>
  