/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.upper-half-left {
	width: 450px;
	height: 400px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
}

.upper-half-right {
	width: 450px;
	height: 400px;
	margin: 0;
	padding: 0;
	border: 0;
	float: right;
}

.bottom-form {
	width: 900px;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;	
}

.navbar .navbar-header .navbar-brand {
  color: orange;
  text-decoration: underline;
}

.navbar .navbar-header .navbar-brand:hover{
  color: orange;
} 

.navbar .collapse .navbar-collapse .nav .navbar-nav .asdf{
  color: orange;
}



/*.navbar .navbar-header {
	color: orange;
	background-color: orange;
	border-color: orange;
}*/
